<section class="min-h-screen flex flex-col justify-between">
  <div class="flex justify-between items-center border-b-2 border-[#E81F26] px-[15px] md:px-[60px]">
    <h1 class="font-medium text-base md:text-xl lg:text-[32px] font-archivo text-textColor uppercase w-full">
      NOT FOUND / SƏHİFƏ TAPILMADI
    </h1>
    <img src="/images/404.svg" alt="404" class="border-l-2 border-[#E81F26] py-9 px-5 md:px-28" />
  </div>

  <div class="flex flex-col justify-center items-center gap-[90px] flex-grow px-10">
    <h1 class="font-semibold text-[128px] md:text-[200px] lg:text-[400px] font-archivo text-[#BBBBBB] uppercase text-center">
      404
    </h1>
    <button class="block md:hidden bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-4 md:py-3 rounded-xl w-full">
        Ana səhifəyə qayıt
        <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />            
    </button>
  </div>

  <div class="flex justify-between items-center border-t-2 border-[#E81F26] px-[15px] md:px-[60px]">
    <h1 class="font-medium text-base md:text-xl lg:text-[32px] font-archivo text-textColor uppercase w-full">
     SƏHİFƏ MÖVCUD DEYİL
    </h1>
    <a href="#" class="w-[420px] hidden md:block text-textColor text-sm md:text-lg font-medium font-archivo underline underline-offset-4 uppercase border-l-2 border-[#E81F26] py-16 pl-5 md:pl-[60px]">
        Ana səhİFƏYƏ QAYIT
        <img src="/images/404-arrow-right.svg" alt="arrow" class="inline-block ml-2"/>
    </a>
    <img src="/images/404.svg" alt="404" class="block md:hidden border-l-2 border-[#E81F26] py-16 px-5" />
  </div>
</section>
