<section class="container mx-auto px-[15px] md:px-0 pb-5">
    <div>
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase py-10">Akademİk HEYƏT</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 gap-y-6 md:gap-y-10">
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/academic-one.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">METİN ÖZDEMİR</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">Proqram koordinatoru</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/academic-two.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">NECMETTİN ANIL ALBAĞLAR</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">İngilis dili müəllimi</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/academic-three.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">DERYA ALTINTAN</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">Riyaziyyat Mühazirəçisi</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/academic-four.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">MEDİHA TORAMAN</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">İngilis dili müəllimi</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/academic-five.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">SELİME TABANLIOĞLU</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">İngilis dili müəllimi</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/academic-six.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">umman tümkaya</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">İngilis dili müəllimi</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/academic-seven.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">BERİL ERDEM TUNCDEMİR</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">Bilologiya Mühazirəçisi</p>
            </div>
        </div>
    </div>

    <div>
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase py-10">PROQRAM KOORDİNATORLARI</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 gap-y-6 md:gap-y-10">
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/koordinator-one.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">OKAN TOPÇU</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">Proqram koordinatoru</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/koordinator-two.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">OKAN TOPÇU</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">Proqram koordinatoru</p>
            </div>
        </div>
        <div class="pb-5 border-b border-[#D8D8D8]">
            <img class="w-full h-[345px] md:h-auto object-cover" src="/images/koordinator-three.svg" alt=""/>
            <div>
                <h3 class="font-medium text-xl font-archivo text-textColor uppercase py-3">OKAN TOPÇU</h3>
                <p class="text-base md:text-lg text-[#989898] font-inter">Proqram koordinatoru</p>
            </div>
        </div>
    </div>
</section>