<section data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">   
    <div class="container mx-auto py-6 md:py-10 px-[15px] md:px-0">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3 ">
            <!-- Azərbaycan Tərəfi -->
            <div class="">
            <h2 class="font-archivo font-medium text-xl text-textColor pb-2">AZƏRBAYCAN TƏRƏFİ</h2>
            <p class="font-inter text-lg text-[#989898] pb-6 md:pb-10 w-full md:w-2/3">
                Torpaq, bina, laboratoriya, avadanlıq kimi maliyyə və texniki imkanları təmin edir.
            </p>
            <img
                src="/images/az-terefi.svg"
                alt="Azərbaycan laboratoriyası"
                class="w-full h-[345px] md:h-auto object-cover"
            />
            </div>

            <!-- Türkiyə Tərəfi -->
            <div class="">
            <h2 class="font-archivo font-medium text-xl text-textColor pb-2">TÜRKİYƏ TƏRƏFİ</h2>
            <p class="font-inter text-lg text-[#989898] pb-6 md:pb-10 w-full md:w-2/3">
                Tədris keyfiyyəti, proqramların təşkili, 8 semestrlik tədris planının icrası ilə məşğuldur.
            </p>
            <img
                src="/images/tr-terefi.svg"
                alt="Türkiyə dərs prosesi"
                class="w-full h-[345px] md:h-auto object-cover"
            />
            </div>
        </div>
    </div>
</section>