<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="inline-block w-full px-[15px] md:px-0 py-6 md:py-20">
        <div class="grid grid-cols-1 sm:grid-cols-[361px_1fr] lg:grid-cols-[361px_1fr_1fr] xl:grid-cols-[361px_1fr_1fr_1fr] gap-6">
            <div class="col-span-1 relative max-w-[345px] w-full h-[361px]">
                <div class="absolute bottom-0 right-0 max-w-[345px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                <img
                    src="/images/specialties-professor-one.svg"
                    alt=""
                    class="absolute top-0 left-0 pr-4 h-[345px] w-[345px] object-cover z-10"
                /> 
            </div>
            <div class="col-span-1 self-end">
                <div class="w-full border-b border-[#D8D8D8] pt-0 md:pt-6">
                    <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. Okan Topçu</h2>
                    <p class="pb-5 text-base text-[#989898] font-inter">Türkiyə-Azərbaycan Universitetinin (TAU) Kompüter Mühəndisliyi Proqramının Rəhbəri</p>
                </div>
                <div class="pt-3 flex items-center gap-2">
                    <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                    <a href="#" class="text-[#727272] text-base font-inter underline">okan.topcu@tau.edu.az</a>
                </div>
            </div>
        </div>
    </div>
</section>