<section class="container mx-auto">
    <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-10 px-[15px] md:px-0">
        <div>
            <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">KOmpüter mühəndİSLİYİ NƏDİR?</h1>
            <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
            <div class="flex justify-between items-center">
                <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-xl text-[#989898] font-inter w-full md:w-1/2">Kompüter mühəndisliyi — kompüter sistemlərinin qurulması və inkişafı ilə məşğul olan sahədir. Elektrik mühəndisliyi və kompüter elmlərinin birləşməsi ilə formalaşan bu sahə süni intellekt, proqram təminatı, robototexnika və şəbəkə texnologiyalarını əhatə edir.</p>
                <img class="hidden md:block pr-0 md:pr-10 lg:pr-[147px]" src="/images/specialties-arrow.svg"/>
            </div>
        </div>
        <div class="md:pt-10">
            <div class="w-full min-h-[345px] md:h-[600px] relative">
                <div class="swiper mySwiper  shadow-lg overflow-hidden">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/kompüter-one.jpg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/about-slider-two.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover" />
                    </div>
                    </div>
                </div>
                <div class="progress-container" id="progressContainer"></div>
            </div>
        </div>
    </div>
</section>