<section class="bg-black/50">
    <div class="container mx-auto py-5 flex justify-center items-center h-screen ">
        <div class="bg-white max-w-2xl w-full h-fit py-20 px-[15px] md:px-10 flex flex-col gap-10 justify-center items-center">
            <img src="/images/success.svg" alt="success" class=""/>
            <div>
                <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3 text-center">MÜRACİƏTİNİZ UĞURLA GÖNDƏRİLDİ</h2>
                <p class="text-base md:text-lg text-[#989898] font-inter w-full text-center">Ən qısa zamanda müraciətinizə baxılacaqdır</p>
            </div>
            <button class="bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-4 md:py-3 rounded-xl w-full">
                Ana səhifəyə qayıt
                <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />            
            </button>
        </div>
    </div>
</section>