<section class="container mx-auto py-10 px-[15px] md:px-0">
    <div>
        <h2 class="font-medium text-xl md:text-[36px] font-archivo text-textColor uppercase pb-6">Xəbərlər</h2>
    </div>
    <div class="">
        <div class="flex flex-col lg:flex-row gap-6 md:gap-12 border-t border-[#93939333] py-6">
            <img src="/images/news-one.svg" alt="news" class="w-full md:min-w-[432px] md:w-full h-auto max-h-[328px] object-cover object-center"/>
            <div class="flex flex-col justify-between gap-6 py-6">
                <span class="text-sm md:text-base opacity-50">16 Aprel 2024 | <span>12:35</span></span>
                <div>
                    <h3 class="font-medium text-xl md:text-2xl font-archivo text-textColor uppercase pb-3">Bakıda Türkİyə–Azərbaycan Unİversİtetİ açıldı</h3>
                    <p class="text-base md:text-xl text-[#989898] font-inter w-full">
                        Kompüter mühəndisliyi — kompüter sistemlərinin qurulması və inkişafı ilə məşğul olan 
                        sahədir. Elektrik mühəndisliyi və kompüter elmlərinin birləşməsi ilə formalaşan bu sahə süni intellekt, proqram təminatı, robototexnika və şəbəkə texnologiyalarını əhatə edir.
                    </p>
                    <p class="hidden text-base md:text-xl text-[#989898] font-inter w-full pt-3">
                        <img src="/images/news-location.svg" alt="location" class="inline-block mr-2 h-auto" />
                        2nd floor, 15 Vladislav Plotnikov, Bakı 1007
                    </p>
                </div>
                <button class="bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-4 md:py-3 rounded-xl w-full md:max-w-fit">
                    Ətraflı oxu
                    <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                </button>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row gap-6 md:gap-12 border-t border-[#93939333] py-6">
            <img src="/images/news-two.svg" alt="news" class="w-full md:min-w-[432px] md:w-full h-auto max-h-[328px] object-cover object-center"/>
            <div class="flex flex-col justify-between gap-6 py-6">
                <span class="text-sm md:text-base opacity-50">16 Aprel 2024 | <span>12:35</span></span>
                <div>
                     <h3 class="font-medium text-xl md:text-2xl font-archivo text-textColor uppercase pb-3">Türkİyə–Azərbaycan Unİversİtetİnİn 4-cü heyət İclası keçİrİldİ</h3>
                    <p class="text-base md:text-xl text-[#989898] font-inter w-full">
                        Kompüter mühəndisliyi — kompüter sistemlərinin qurulması və inkişafı ilə məşğul olan 
                        sahədir. Elektrik mühəndisliyi və kompüter elmlərinin birləşməsi ilə formalaşan bu sahə süni intellekt, proqram təminatı, robototexnika və şəbəkə texnologiyalarını əhatə edir.
                    </p>
                    <p class="hidden text-base md:text-xl text-[#989898] font-inter w-full pt-3">
                        <img src="/images/news-location.svg" alt="location" class="inline-block mr-2 h-auto" />
                        2nd floor, 15 Vladislav Plotnikov, Bakı 1007
                    </p>
                </div>
                <button class="bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-4 md:py-3 rounded-xl w-full md:max-w-fit">
                    Ətraflı oxu
                    <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                </button>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row gap-6 md:gap-12 border-t border-[#93939333] py-6">
            <img src="/images/news-three.svg" alt="news" class="w-full md:min-w-[432px] md:w-full h-auto max-h-[328px] object-cover object-center"/>
            <div class="flex flex-col justify-between gap-6 py-6">
                <span class="text-sm md:text-base opacity-50">16 Aprel 2024 | <span>12:35</span></span>
                <div>
                    <h3 class="font-medium text-xl md:text-2xl font-archivo text-textColor uppercase pb-3">TAU nümayəndə heyətİ Türkİyədə səfərdədİr</h3>
                    <p class="text-base md:text-xl text-[#989898] font-inter w-full">
                        Kompüter mühəndisliyi — kompüter sistemlərinin qurulması və inkişafı ilə məşğul olan 
                        sahədir. Elektrik mühəndisliyi və kompüter elmlərinin birləşməsi ilə formalaşan bu sahə süni intellekt, proqram təminatı, robototexnika və şəbəkə texnologiyalarını əhatə edir.
                    </p>
                    <p class="hidden text-base md:text-xl text-[#989898] font-inter w-full pt-3">
                        <img src="/images/news-location.svg" alt="location" class="inline-block mr-2 h-auto" />
                        2nd floor, 15 Vladislav Plotnikov, Bakı 1007
                    </p>
                </div>
                <button class="bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-4 md:py-3 rounded-xl w-full md:max-w-fit">
                    Ətraflı oxu
                    <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                </button>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row gap-6 md:gap-12 border-t border-[#93939333] py-6">
            <img src="/images/news-tau.svg" alt="news" class="w-full md:min-w-[432px] md:w-full h-auto max-h-[328px] object-cover object-center"/>
            <div class="flex flex-col justify-between gap-6 py-6">
                <span class="text-sm md:text-base opacity-50">16 Aprel 2024 | <span>12:35</span></span>
                <div>
                     <h3 class="font-medium text-xl md:text-2xl font-archivo text-textColor uppercase pb-3">Türkİyə–Azərbaycan Unİversİtetİnə İxtİsas seçİmİ </h3>
                    <p class="text-base md:text-xl text-[#989898] font-inter w-full">
                        Kompüter mühəndisliyi — kompüter sistemlərinin qurulması və inkişafı ilə məşğul olan 
                        sahədir. Elektrik mühəndisliyi və kompüter elmlərinin birləşməsi ilə formalaşan bu sahə süni intellekt, proqram təminatı, robototexnika və şəbəkə texnologiyalarını əhatə edir.
                    </p>
                    <p class="hidden text-base md:text-xl text-[#989898] font-inter w-full pt-3">
                        <img src="/images/news-location.svg" alt="location" class="inline-block mr-2 h-auto" />
                        2nd floor, 15 Vladislav Plotnikov, Bakı 1007
                    </p>
                </div>
                <button class="bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-4 md:py-3 rounded-xl w-full md:max-w-fit">
                    Ətraflı oxu
                    <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                </button>
            </div>
        </div>
    </div>
</section>