<section class="container mx-auto px-[15px] md:px-0">
     <div class="pt-6 md:pt-12 pb-6 md:pb-10  border-t border-[#D8D8D8]">
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase pb-3 md:pb-7">QƏBUL</h2>
        <p class="text-base md:text-lg text-[#989898] font-inter w-full md:w-2/3">Universitetdə tədris 2024/2025-ci tədris ilində başlayıb. TAU Dövlət İmtahan Mərkəzinin keçirdiyi imtahanların nəticələrinə əsasən ilk tələbələrini qəbul edib.</p>
    </div>
    <div>
        <div class="grid grid-cols-2 md:grid-cols-4">
            <div class="col-span-2 md:col-span-2"></div>
            <div class="col-span-1 hidden md:block">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN AŞAĞI BAL</h3>
            </div>
            <div class="col-span-1 hidden md:block">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN Yüksək BAL</h3>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 pt-5 md:pt-8 pb-10 border-b border-transparent md:border-[#D8D8D8]">
            <div class="col-span-2 md:col-span-2 pt-0 md:pt-8 pb-6 md:pb-0">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl uppercase w-max">kompüter <br class="hidden md:block"> MühəndİSLİYİ</h3>
            </div>
            <div class="col-span-1 block md:hidden">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN AŞAĞI BAL</h3>
            </div>
            <div class="col-span-1 block place-self-end md:hidden">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN Yüksək BAL</h3>
            </div>
            <div class="col-span-1 pl-1 md:pl-0">
                <h3 class="font-archivo font-medium text-[40px] md:text-[64px] uppercase w-max pt-3 md:pt-0 text-transparent text-outline">641.6</h3>
            </div>
            <div class="col-span-1 place-self-end md:place-self-start xl:pl-3 pl-0 pr-3 md:pr-0">
                <h3 class="font-archivo font-medium text-[40px] md:text-[64px] uppercase w-max pt-3 md:pt-0 text-transparent text-outline">684.9</h3>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 pt-5 md:pt-8 pb-10 border-b border-transparent md:border-[#D8D8D8]">
            <div class="col-span-2 md:col-span-2 pt-0 md:pt-8 pb-6 md:pb-0">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl uppercase w-max">SƏNAYE <br class="hidden md:block"> MühəndİSLİYİ</h3>
            </div>
            <div class="col-span-1 block md:hidden">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN AŞAĞI BAL</h3>
            </div>
            <div class="col-span-1 block place-self-end md:hidden">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN Yüksək BAL</h3>
            </div>
            <div class="col-span-1 pl-1 md:pl-0">
                <h3 class="font-archivo font-medium text-[40px] md:text-[64px] uppercase w-max pt-3 md:pt-0 text-transparent text-outline">641.6</h3>
            </div>
            <div class="col-span-1 place-self-end md:place-self-start xl:pl-3 pl-0 pr-3 md:pr-0">
                <h3 class="font-archivo font-medium text-[40px] md:text-[64px] uppercase w-max pt-3 md:pt-0 text-transparent text-outline">684.9</h3>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 pt-5 md:pt-8 pb-10">
            <div class="col-span-2 md:col-span-2 pt-0 md:pt-8 pb-6 md:pb-0">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl uppercase w-max">qida <br class="hidden md:block"> MühəndİSLİYİ</h3>
            </div>
            <div class="col-span-1 block md:hidden">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN AŞAĞI BAL</h3>
            </div>
            <div class="col-span-1 block place-self-end md:hidden">
                <h3 class="font-archivo font-medium text-[#4E4E4E] text-base md:text-2xl border-b border-[#EC1F26] uppercase w-max pb-2 md:pb-4">ƏN Yüksək BAL</h3>
            </div>
            <div class="col-span-1 pl-1 md:pl-0">
                <h3 class="font-archivo font-medium text-[40px] md:text-[64px] uppercase w-max pt-3 md:pt-0 text-transparent text-outline">641.6</h3>
            </div>
            <div class="col-span-1 place-self-end md:place-self-start xl:pl-3 pl-0 pr-3 md:pr-0">
                <h3 class="font-archivo font-medium text-[40px] md:text-[64px] uppercase w-max pt-3 md:pt-0 text-transparent text-outline">684.9</h3>
            </div>
        </div>
    </div>
</section>