<section class="py-[60px]">
    <div class="bg-[#F7F7F7]">
         <div class="container mx-auto max-h-[483px] overflow-hidden">
            <div class="grid grid-cols-2">
                <div class="flex flex-col pt-36 pl-10 gap-5">
                    <h2 class="font-medium text-[32px] font-archivo text-[#333] uppercase">rektora yazın</h2>
                    <p class="font-inter text-lg text-[#878787] w-[70%]">Azərbaycan-Türkiyə Universitetinin inkişafı, tədris prosesi və tələbə həyatı ilə bağlı təklif, təşəkkür və suallarınızı birbaşa universitet rəhbərliyinə çatdırmaq üçün "Rektora Yazın" bölməsindən istifadə edə bilərsiniz.</p>
                    <button class=" w-fit bg-[#EC1F26] text-[#fff] border border-[#fff] rounded-[46px] px-[87.5px] py-[14.5px] uppercase font-inter font-medium">müracİət edİn</button>
                </div>
                <div class="-mt-28">
                    <img src="/images/apply.png" alt="apply" class="object-cover object-center"/>
                </div>
            </div>
        </div>
    </div>
</section>