<section class="container mx-auto text-textColor py-10 md:py-[60px] px-4"  data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="">
      <div class="pb-10">
        <div class="flex flex-col gap-4 pb-3 font-archivo">
            <h2 class="font-medium text-3xl lg:text-[32px]">XƏYALINIZI REALLAŞDIRMAĞA HAZIRSINIZ?</h2>
            <h3 class="font-medium text-3xl lg:text-[32px]">BUNUN ÜÇÜN İLK ADDIMINIZI ATIN!</h3> 
        </div>
        <p class="text-lg ">Bir neçə dəqiqənizi ayırın, sadə formumuzu doldurun və öz təhsil yolunuzu açın.</p>
      </div>
      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

        <div class="border-l border-b border-[#D8D8D8] p-4">
          <div class="h-[83px] py-3.5">
            <img src="/images/01.svg" alt="" class="object-cover object-center"/>
          </div>
          <div class="pt-[52px] pr-[54px]">
            <h4 class="text-xl font-medium font-archivo pb-3">ONLAYN ƏRİZƏNİ DOLDURUN</h4>
            <p class="font-inter">Bir neçə saniyədə adını, əlaqə məlumatlarını və təhsil məlumatlarını daxil et.</p>
          </div>
        </div>

        <div class="border-l border-b border-[#D8D8D8] p-4">
          <div class="h-[83px] py-3.5">
            <img src="/images/02.svg" alt="" class="object-cover object-center"/>
          </div>
          <div class="pt-[52px] pr-[54px]">
            <h4 class="text-xl font-medium font-archivo pb-3">SƏNƏDLƏRİNİZİ YÜKLƏYİN</h4>
            <p class="font-inter">Bir neçə saniyədə adını, əlaqə məlumatlarını və təhsil məlumatlarını daxil et.</p>
          </div>
        </div>

        <div class="border-l border-b border-[#D8D8D8] p-4">
          <div class="h-[83px] py-3.5">
            <img src="/images/03.svg" alt="" class="object-cover object-center"/>
          </div>
          <div class="pt-[52px] pr-[54px]">
            <h4 class="text-xl font-medium font-archivo pb-3">İMTAHAN TARİXİNİ SEÇİN</h4>
            <p class="font-inter">Bir neçə saniyədə adını, əlaqə məlumatlarını və təhsil məlumatlarını daxil et.</p>
          </div>
        </div>
      </div>
    </div>
</section>