<section class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 md:gap-10 xl:gap-[93px]">
        <div class="flex flex-col gap-16 pt-28 lg:py-44 px-[15px] md:px-0">
            <div>
                <h2 class="flex flex-col gap-0 md:gap-2 text-[32px] md:text-[48px] md:leading-[48px] font-medium font-archivo">
                    Suallarınız var? <span>Gəlin danışaq</span>
                </h2>
                <p class="pt-5 pb-[14px] text-base md:text-lg text-[#2C415C] opacity-50 font-inter w-full md:w-2/3">Aşağıda göstərilən kanallar vasitəsilə bizimlə rahat şəkildə əlaqə saxlaya bilərsiniz.</p>
            </div>
            <div class="flex flex-col gap-6">
                <div>
                    <p class="pb-2 text-xl md:text-lg text-[#A5A5A5] opacity-50 font-inter">İş saatları</p>
                    <span class="font-archivo text-xl text-[#767676]">09:00-18:00</span>
                </div>
                <div>
                    <p class="pb-2 text-xl md:text-lg text-[#A5A5A5] opacity-50 font-inter">Əlaqə nömrəsi</p>
                    <span class="font-archivo text-xl text-[#767676]">+994 55 777 33 44</span>
                </div>
                <div>
                    <p class="pb-2 text-xl md:text-lg text-[#A5A5A5] opacity-50 font-inter">Qaynar xətt</p>
                    <span class="font-archivo text-xl text-[#767676]">+994 55 888 66 77</span>
                </div>
                <div class="flex flex-col">
                    <p class="pb-2 text-xl md:text-lg text-[#A5A5A5] opacity-50 font-inter">Ünvan</p>
                    <span class="font-archivo text-xl text-[#767676]">3E Natig Aliyev Street, Bakı</span>
                    <a href="#" class="pt-4 text-secondary text-base md:text-xl font-medium font-archivo underline underline-offset-4">
                        Xəritədə bax 
                        <img src="/images/arrow-right.svg" alt="arrow" class="inline-block ml-2"/>
                    </a>
                </div>
                <div class="order-5 border-t border-[#EC2029] lg:border-transparent ">
                    <div class="flex pb-4 lg:pb-[70px] pt-6 gap-6">
                        <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                            <img src="/images/instagram.svg" alt="instagram" />
                        </a>
                        <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                            <img src="/images/youtube.svg" alt="youtube" />
                        </a>
                        <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                            <img src="/images/facebook.svg" alt="facebook" />
                        </a>
                        <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                            <img src="/images/twitter.svg" alt="twitter" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-x border-transparent lg:border-[#BBBBBB] pt-24 lg:py-40 bg-white px-[15px] lg:px-10 z-10">
            <div class="flex gap-6">
                <img class="hidden lg:block" src="/images/contact-arrow-right.svg" />
                <img class="block lg:hidden" src="/images/contact-arrow-right-mobile.svg" />
                <p class="text-[#2C415C] opacity-50 font-inter">Universitetimiz haqqında ətraflı məlumat almaq, əməkdaşlıq təklifləri və ya qəbul prosesi ilə bağlı suallar üçün bizimlə əlaqə saxlaya bilərsiniz.</p>
            </div>
            <div class="py-20 flex flex-col gap-10">
                <h1 class="font-medium text-xl md:text-2xl font-archivo text-textColor uppercase pt-0 md:pt-6 w-fit border-b-2 border-secondary pb-2.5">BİZİMLƏ ƏLAQƏ</h1>
                <form id="myForm" class="flex flex-col gap-5" novalidate>
                    <input
                        type="text"
                        name="name"
                        placeholder="Ad"
                        class="w-full pt-5 pb-3 font-archivo text-[#6A6A6A] border-b border-[#DBDBDB] focus:outline-none focus:border-[#ADADAD] placeholder:text-[#A5A5A5] transition-colors duration-300"
                    />

                    <input
                        type="number"
                        name="studentId"
                        placeholder="Tələbə İD-si"
                        class="w-full pt-5 pb-3 font-archivo text-[#6A6A6A] border-b border-[#DBDBDB] focus:outline-none focus:border-[#ADADAD] placeholder:text-[#A5A5A5] transition-colors duration-300"
                    />

                    <input
                        type="email"
                        name="email"
                        placeholder="Mail"
                        class="w-full pt-5 pb-3 font-archivo text-[#6A6A6A] border-b border-[#DBDBDB] focus:outline-none focus:border-[#ADADAD] placeholder:text-[#A5A5A5] transition-colors duration-300"
                    />

                    <textarea
                        name="message"
                        placeholder="Müraciətinizi daxil edin"
                        class="w-full pt-5 pb-3 font-archivo text-[#6A6A6A] border-b border-[#DBDBDB] focus:outline-none focus:border-[#ADADAD] placeholder:text-[#A5A5A5] transition-colors duration-300 h-[100px]"
                    ></textarea>

                    <button
                        id="submitBtn"
                        type="submit"
                        class="flex items-center justify-center bg-[#E81F26] gradient-border font-inter text-[#fff] px-8 py-4 md:py-3 w-full mt-10"
                    >
                        Göndər
                        <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>