<section class="container mx-auto px-[15px] md:px-0 pb-5" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div>
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase pb-3">Diplom</h2>
        <div class="h-[2px] bg-secondary w-[100px]"></div>
        <p class="pl-0 md:pl-[78px] pt-6 pb-[14px] text-base md:text-lg text-[#989898] font-inter w-full md:w-1/2">TAU-da Türkiyə universitetləri tərəfindən həyata keçirilən proqramları müvəffəqiyyətlə bitirən məzunlara diplom, diplom əlavəsi və akademik transkript (ikili diplom) verilir. 
           Məzunlara veriləcək TAU diplomu ekvivalentlik prosesindən keçmədən hər iki ölkə tərəfindən qarşılıqlı olaraq tanınacaq.</p>
    </div>
    <div class="pt-10">
        <img class="w-full h-[345px] md:h-auto object-cover" src="/images/diplom.svg" alt=""/>
    </div>
</section>