<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
     <div class="py-6 md:py-10 px-[15px] md:px-0">
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase pb-3">TƏDRİS</h2>
        <p class="text-base md:text-lg text-[#989898] font-inter w-full md:w-2/3">Ankarada Prezident Rəcəb Tayyib Ərdoğan və Prezident İlham Əliyevin iştirakı ilə Azərbaycan Respublikasının Elm və Təhsil Nazirliyi ilə Türkiyə Respublikası Ali Təhsil Şurası arasında TAU-nun yaradılmasına dair Anlaşma Memorandumu imzalandı.</p>
    </div>
</section>