<section class="container mx-auto">
    <div class="flex pb-6">
        <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-10 px-[15px] md:px-0">
            <div class="order-3 lg:order-1">
                <h1 class="font-medium text-sm sm:text-lg md:text-3xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full lg:w-2/5 ">Bakıda Türkİyə–Azərbaycan Unİversİtetİ açıldı</h1>
                <p class="text-base md:text-xl text-[#777777] font-inter w-full lg:w-2/3">Kompüter mühəndisliyi — kompüter sistemlərinin qurulması və inkişafı ilə məşğul olan sahədir. Elektrik mühəndisliyi və kompüter elmlərinin birləşməsi ilə formalaşan bu sahə süni intellekt, proqram təminatı, robototexnika və şəbəkə texnologiyalarını əhatə edir.</p>
            </div>
            <div class="order-1 lg:order-2">
                <div class="w-full min-h-[345px] md:h-[600px] relative">
                    <div class="swiper mySwiper  shadow-lg overflow-hidden">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/about-slider-one.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/about-slider-two.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover" />
                        </div>
                        </div>
                    </div>

                    <div class="progress-container" id="progressContainer">

                    </div>
                </div>

            </div>
            <div class="block lg:hidden order-2 lg:order-3">
                <div class="flex justify-between items-center">
                    <span class="text-sm md:text-base">16 Aprel 2024</span>
                    <img class="w-[73px] h-[73px]" src="/images/specialties-arrow.svg"/>
                </div>
            </div>
            <div class="order-4">
                <p class="text-base md:text-lg text-[#777777] font-inter w-full lg:w-3/4 pb-3">Kompüter mühəndisliyi — kompüter sistemlərinin qurulması və inkişafı ilə məşğul olan sahədir. Elektrik mühəndisliyi və kompüter elmlərinin birləşməsi ilə formalaşan bu sahə süni intellekt, proqram təminatı, robototexnika və şəbəkə texnologiyalarını əhatə edir.</p>
                <div class="flex items-center gap-9">
                     <p class="flex items-center text-base md:text-xl text-[#989898] font-inter pt-3">
                        <img src="/images/date.svg" alt="location" class="inline-block mr-2 h-auto" />
                        16 Aprel 2024  | 12:35
                    </p>
                    <p class="flex items-center text-base md:text-xl text-[#989898] font-inter pt-3">
                        <img src="/images/news-location.svg" alt="location" class="inline-block mr-2 h-auto" />
                        2nd floor, 15 Vladislav Plotnikov, Bakı 1007
                    </p>
                </div>
                
                <button class="bg-[#E81F26] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-4 md:py-3 rounded-xl w-full md:max-w-fit mt-8">
                    Ətraflı oxu
                    <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                </button>
            </div>
            <!-- Social icons -->
            <div class="order-5 block lg:hidden border-t border-[#EC2029] lg:border-transparent ">
                <div class="flex pb-[70px] pt-6 gap-9">
                    <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/instagram.svg" alt="instagram" />
                    </a>
                    <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/youtube.svg" alt="youtube" />
                    </a>
                    <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/facebook.svg" alt="facebook" />
                    </a>
                    <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/twitter.svg" alt="twitter" />
                    </a>
                </div>
            </div>
            
        </div>
        <div class="hidden lg:flex flex-col justify-between min-w-[165px] border-l border-[#EC2029]">
            <div class=" flex  flex-col justify-center pl-6 pr-4 pt-[100px]">
                <h4 class="font-archivo text-[#6C6C6C] pb-3">Tarix</h4>
                <p class="text-sm text-[#303030] font-inter w-full">9 AVQ 2025 | 17:12</p>
            </div>
            <!-- Social icons -->
            <div class="flex flex-col items-end pb-9 pt-6 px-6 gap-2">
                <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                    <img src="/images/instagram.svg" alt="instagram" />
                </a>
                <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                    <img src="/images/youtube.svg" alt="youtube" />
                </a>
                <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                    <img src="/images/facebook.svg" alt="facebook" />
                </a>
                <a href="#" class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                    <img src="/images/twitter.svg" alt="twitter" />
                </a>
            </div>
        </div>
    </div>
    
</section>

<section class="py-4 pb-5 md:py-[80px] text-textColor font-archivo px-[14px]" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="container mx-auto">
        <h1 class="font-medium text-xl md:text-2xl font-archivo text-textColor uppercase pb-6 w-full ">Daha çox Xəbər</h1>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            
            <!-- Xəbərlər -->
            <div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
                <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10 text-sm md:text-base">Bakıda Türkiyə–Azərbaycan Universiteti açıldı</h1>
                <img src="/images/news-one.svg" alt="news" class="w-full h-auto max-h-60 sm:max-h-[428px] object-cover object-center"/>
                <span class="text-sm md:text-base">16 Aprel 2024</span>
                </div>
                <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10 text-sm md:text-base">Türkiyə–Azərbaycan Universitetinin 4-cü heyət iclası keçirildi</h1>
                <img src="/images/news-two.svg" alt="news" class="w-full h-auto max-h-60 sm:max-h-[428px] object-cover object-center"/>
                <span class="text-sm md:text-base">16 Aprel 2024</span>
                </div>
            </div>
            </div>

            <div class="mt-[60px] lg:mt-0">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
                <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10 text-sm md:text-base">TAU nümayəndə heyəti Türkiyədə səfərdədir</h1>
                <img src="/images/news-three.svg" alt="news" class="w-full h-auto max-h-60 sm:max-h-[428px] object-cover object-center"/>
                <span class="text-sm md:text-base">16 Aprel 2024</span>
                </div>
                <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10 text-sm md:text-base">Türkiyə–Azərbaycan Universİtetİnə İxtisas seçimi aparılacaq</h1>
                <img src="/images/news-four.svg" alt="news" class="w-full h-auto max-h-60 sm:max-h-[428px] object-cover object-center"/>
                <span class="text-sm md:text-base">16 Aprel 2024</span>
                </div>
            </div>
            </div>
            
        </div>
    </div>
  
  
</section>
