<footer class="">
  <div class="bg-secondary text-white pt-6 md:pt-20 pb-10 md:pb-[60px] px-[14px]">
    <div class="container mx-auto">
      <div class="grid place-content-between grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-footer-col gap-3 md:gap-10 lg:gap-[54px] pb-[74px] border-b border-white">
        <div class="col-span-2 md:col-auto pb-10 md:pb-0">
          <h1 class="text-4xl md:text-[48px] lg:text-[64px] font-bold font-expletus">TAU</h1>
        </div>
        <div>
          <h2 class="font-archivo font-medium text-xl md:text-2xl pb-4">UNİVERSİTET</h2>
          <ul class="font-inter flex flex-col gap-2 text-sm md:text-base">
            <li><a href="#">Haqqımızda</a></li>
            <li><a href="#">Universitetin tarixi</a></li>
            <li><a href="#">Himayəçilər şurası</a></li>
            <li><a href="#">Elmi şura</a></li>
            <li><a href="#">Akademik heyyət</a></li>
            <li><a href="#">Əlaqə</a></li>
          </ul>
        </div>
        <div class="pl-5 md:pl-0">
          <h2 class="font-archivo font-medium text-xl md:text-2xl pb-4">STRUKTUR</h2>
          <ul class="font-inter flex flex-col gap-2 text-sm md:text-base">
            <li><a href="#">Rektor</a></li>
            <li><a href="#">Prorektor</a></li>
          </ul>
        </div>
        <div>
          <h2 class="font-archivo font-medium text-xl md:text-2xl pb-4">PROQRAMLAR</h2>
          <ul class="font-inter flex flex-col gap-2 text-sm md:text-base">
            <li><a href="#">Kompüter mühəndisliyi</a></li>
            <li><a href="#">Sənayə mühəndisliyi</a></li>
            <li><a href="#">Qida mühəndisliyi</a></li>
            <li><a href="#">Hazırlıq</a></li>
          </ul>
        </div>
        <div class="hidden md:block">
          <h2 class="font-archivo font-medium text-xl md:text-2xl pb-4">ÇƏTİR UNİVERSİTET</h2>
          <ul class="font-inter flex flex-col gap-2 text-sm md:text-base">
            <li><a href="#">ODTU</a></li>
            <li><a href="#">İTÜ</a></li>
            <li><a href="#">Hacettepe</a></li>
            <li><a href="#">AzTU</a></li>
          </ul>
        </div>
        <div class="pl-5 md:pl-0">
          <h2 class="font-archivo font-medium text-xl md:text-2xl pb-4">MEDİA</h2>
          <ul class="font-inter flex flex-col gap-2 text-sm md:text-base">
            <li><a href="#">Xəbərlər</a></li>
            <li><a href="#">Elanlar</a></li>
            <li><a href="#">Qalereya</a></li>
          </ul>
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-center md:justify-between items-center pt-10 gap-4 text-sm md:text-base">
        <p>© 2025 | Türkiyə Azərbaycan Universiteti</p>
        <ul class="font-inter flex gap-2">
          <li>
            <a href="#" class="w-10 h-10 md:w-11 md:h-11 flex items-center justify-center border border-[#FFFFFF26]">
              <img src="/images/footer-one.svg" alt="instagram" />
            </a>
          </li>
          <li>
            <a href="#" class="w-10 h-10 md:w-11 md:h-11 flex items-center justify-center border border-[#FFFFFF26]">
              <img src="/images/footer-two.svg" alt="youtube" />
            </a>
          </li>
          <li>
            <a href="#" class="w-10 h-10 md:w-11 md:h-11 flex items-center justify-center border border-[#FFFFFF26]">
              <img src="/images/footer-three.svg" alt="facebook" />
            </a>
          </li>
          <li>
            <a href="#" class="w-10 h-10 md:w-11 md:h-11 flex items-center justify-center border border-[#FFFFFF26]">
              <img src="/images/footer-four.svg" alt="twitter" />
            </a>
          </li>
        </ul>
        <p>SAFAROFF Agency tərəfindən hazırlanıb</p>
      </div>
    </div>
  </div>
</footer>
