<!-- Slider -->
<section class="container mx-auto">
    <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-10 px-[15px] md:px-0">
        <div>
            <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">HAzIRLIQ NƏDİR?</h1>
            <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
            <div class="flex justify-between items-center">
                <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-xl text-[#989898] font-inter w-full md:w-1/2">Türkiyə-Azərbaycan Universiteti İngilis Dili Hazırlıq Bölməsinin məqsədi, ingilis dili bilikləri kifayət qədər olmayan tələbələrə əsas dil bacarıqlarını qazandıraraq universitetdəki bakalavr təhsillərini daha asan şəkildə davam etdirmələrinə şərait yaratmaqdır. Bu məqsədlə lüğət və qrammatika ilə yanaşı oxuma, yazma, dinləmə və danışma bacarıqlarına yönəlmiş iki semestrlik intensiv proqram həyata keçirilir.</p>
                <img class="hidden md:block pr-0 md:pr-10 lg:pr-[147px]" src="/images/specialties-arrow.svg"/>
            </div>
        </div>
        <div class="md:pt-10">
            <div class="w-full min-h-[345px] md:h-[600px] relative">
                <div class="swiper mySwiper  shadow-lg overflow-hidden">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/hazırlıq-one.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover object-top" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/about-slider-two.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover object-top" />
                    </div>
                    </div>
                </div>
                <div class="progress-container" id="progressContainer"></div>
            </div>
        </div>
    </div>
</section>

<!-- Program -->
<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="flex flex-col gap-6 md:gap-10 py-6 md:py-20 px-[15px] md:px-0">
         <div>
            <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">TAU-DA HAZIRLIQ PROQRAMI</h1>
            <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
            <div class="flex justify-between items-center">
                <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-lg text-[#989898] font-inter w-full md:w-1/2">Tələbələr ingilis dili səviyyələrinə əsasən akademik ildə dörd qrupa bölünür. Payız semestrində səviyyələrinə uyğun olaraq həftədə 20 və ya 25 saat, yaz semestrində isə 20, 25 və ya 30 saat dərs keçirlər.</p>
                <img class="hidden md:block" src="/images/specialties-arrow.svg"/>
            </div>
        </div>
        <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
            <div>
                <img src="/images/hazırlıq-two.svg" alt="" class="w-full max-h-[345px] md:min-h-[530px] object-cover" />
            </div>
           <div class="flex flex-col justify-center">
                <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                <div class="pl-0 md:pl-10 ">
                   <p class="py-0 pb-6 md:py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Bakalavr təhsilinə başlaya bilmələri üçün tələbələr həm il ərzində proqramı müəyyən bir uğurla tamamlamalı, həm də akademik il sonunda keçirilən İngilis Dili Yeterlilik İmtahanından (İYS) uğurla keçməlidirlər.</p>
                   <button class="bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-[14px] md:py-4 rounded-xl w-full md:w-auto">
                        Ətraflı oxu
                        <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                   </button>
                </div>
            </div>
        </div>
    </div>
</section>