<main class="bg-[#F7F9FD] md:bg-white px-0 md:px-[60px]">
    <section class="mt-10">
        <div class="container mx-auto px-[15px] md:px-0">
            <div class="flex items-center py-3 gap-4 border-b border-[#BBBBBB]">
                <a href="#" class="font-inter text-[#2C415C] opacity-50 text-sm md:text-base">Əsas səhifə</a>   
                <img src="/images/arrow-right-two.svg" alt="" class="w-3 h-3 md:w-4 md:h-4" />
                <span class="font-inter text-[#2C415C] text-sm md:text-base">Universitet haqqında</span>
            </div>
        </div>
    </section>
    <!-- Başlanğıc Səvİyyə -->
    <section class="container mx-auto">
        <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-10 px-[15px] md:px-0">
            <div>
                <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">Başlanğıc Səvİyyə</h1>
                <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                <div class="flex justify-between items-center">
                    <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-xl text-[#989898] font-inter w-full md:w-1/2">Bu 400 saatlıq dərs, tələbələrə akademik bacarıqlarını inkişaf etdirmək üçün lazım olan əsas söz ehtiyatını və qrammatikanı öyrətməyi, eləcə də bu vasitələrlə akademik məqsədli oxuma, dinləmə, yazma və danışma bacarıqlarını inkişaf etdirməyi hədəfləyir.</p>
                    <img class="hidden md:block pr-0 md:pr-10 lg:pr-[147px]" src="/images/specialties-arrow.svg"/>
                </div>
            </div>
            <div class="md:pt-10">
                <div class="w-full min-h-[345px] md:h-[600px] relative">
                    <div class="swiper mySwiper  shadow-lg overflow-hidden">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/hazırlıq-one.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover object-top" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/hazırlıq-one.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover object-top" />
                        </div>
                        </div>
                    </div>
                    <div class="progress-container" id="progressContainer"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Aşağı-Orta Səvİyyə -->
    <section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
        <div class="flex flex-col gap-6 md:gap-10 py-6 md:pt-20 px-[15px] md:px-0">
            <div>
                <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">Aşağı-Orta Səvİyyə</h1>
                <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                <div class="flex justify-between items-center">
                    <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-lg text-[#989898] font-inter w-full md:w-1/2">Bu dərs Başlanğıc səviyyə dərsinin davamı olaraq keçirilir. 480 saatlıq bu ikinci semestr dərsi tələbələri fakültə dərslərinə başladıqda bu dərslərin tələblərini yerinə yetirə biləcək ingilis dili səviyyəsinə çatdırmağı məqsəd qoyur. 102 dərsi əsasən akademik bacarıqlara fokuslanır. Bu bacarıqlarla yanaşı, həm yazılı, həm də şifahi akademik mətnlərdən istifadə edilərək tələbələrin dil və söz ehtiyatı gücləndirilir.</p>
                    <img class="hidden md:block" src="/images/specialties-arrow.svg"/>
                </div>
            </div>
            <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
                <div>
                    <img src="/images/hazırlıq-two.svg" alt="" class="w-full md:w-auto max-h-[345px] md:min-h-[530px] object-cover" />
                </div>
            <div class="flex flex-col justify-center">
                    <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">Başlanğıc-TAM Səvİyyə</h1>
                    <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                    <div class="pl-0 md:pl-10 ">
                    <p class="py-0 pb-6 md:py-6 text-base md:text-lg text-[#989898] font-inter w-full ">350 saatlıq bu dərs tələbələrə ilkin dil və söz ehtiyatı məlumatı vermək və akademik məqsədlər üçün oxuma, dinləmə, yazma və danışma üzrə təcrübə təmin etmək üçün nəzərdə tutulmuşdur.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Orta-Aşağı Səvİyyə -->
    <section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
        <div class="flex flex-col gap-6 md:gap-10 pt-6 md:py-10 px-[15px] md:px-0">
            <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
            <div class="order-2 md:order-1 flex flex-col justify-center relative">
                    <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pt-0 md:pt-6 pb-0 md:pb-3 w-3/5 md:w-full">Orta-Aşağı Səvİyyə</h1>
                    <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                    <div class="pl-0 xl:pl-[78px] pb-0 md:pb-10">
                    <p class="py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Başlanğıc tam dərsinin davamı olan 400 saatlıq bu dərsin məqsədi tələbələrə irəliləmiş səviyyədə şifahi və yazılı mətnlərə məruz qalmaqla əlavə dil təcrübəsi verməkdir. Dərs tələbələrə birinci kurs dərslərinin tələblərini yerinə yetirmək üçün zəruri olan akademik bacarıqları inteqrasiya olunmuş şəkildə təcrübə etmək üçün geniş imkanlar yaradır.</p>
                    </div>
                </div>
                <div class="order-1 md:order-2">
                    <img src="/images/hazırlıq-daxili-one.svg" alt="" class="w-full md:w-auto max-h-[345px] md:min-h-[530px] object-cover md:object-top " />
                </div>
            </div>
        </div>
    </section>


    <!-- Aşağı-Orta Səvİyyə -->
    <section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
        <div class="flex flex-col gap-6 md:gap-10 py-6 md:py-10 px-[15px] md:px-0">
            <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
                <div>
                    <img src="/images/hazırlıq-daxili-two.svg" alt="" class="w-full md:w-auto max-h-[345px] md:min-h-[530px] object-cover" />
                </div>
            <div class="flex flex-col justify-center">
                    <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">Aşağı-Orta Səvİyyə</h1>
                    <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                    <div class="pl-0 md:pl-10 ">
                    <p class="py-0 pb-6 md:py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Bu 320 saatlıq dərsdə tələbələr birinci kurs dərsləri üçün zəruri olan akademik bacarıqları öyrənməyə çalışırlar. Bu bacarıqlara akademik məqsədli oxuma, dinləmə və qeydlər aparma, oxunan və dinlənilən məlumatlar əsasında kiçik mətnlər yazma və danışma daxildir. Tələbələr bu bacarıqlara aid məşqlərlə yanaşı, dil və söz ehtiyatlarını inkişaf etdirmək üçün imkanlarla təmin olunurlar.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Orta Səvİyyə -->
    <section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
        <div class="flex flex-col gap-6 md:gap-10 pt-6 md:py-10 px-[15px] md:px-0">
            <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
            <div class="order-2 md:order-1 flex flex-col justify-center relative">
                    <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pt-0 md:pt-6 pb-0 md:pb-3 w-3/5 md:w-full">Orta Səvİyyə</h1>
                    <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                    <div class="pl-0 xl:pl-[78px] pb-0 md:pb-10">
                    <p class="py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Aşağı-orta səviyyə dərsinin davamı olan bu 320 saatlıq dərsin məqsədi tələbələri fakültə tərəfindən tələb olunan səviyyəyə çatdırmaqdır. Bu dərsin əsas məqsədi tələbələrin müxtəlif bacarıqları bir arada istifadə edərək dili öz məqsədlərinə uyğun şəkildə istifadə etmələrini təmin etməkdir. Dil və söz ehtiyatı məna çıxarmaq və verilən tapşırıqları yerinə yetirmək üçün vasitə kimi istifadə olunur.</p>
                    </div>
                </div>
                <div class="order-1 md:order-2">
                    <img src="/images/hazırlıq-daxili-three.svg" alt="" class="w-full md:w-auto max-h-[345px] md:min-h-[530px] object-cover md:object-top " />
                </div>
            </div>
        </div>
    </section>

    <!-- Orta Səvİyyə -->
    <section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
        <div class="flex flex-col gap-6 md:gap-10 py-6 md:pt-20 px-[15px] md:px-0">
            <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
                <div>
                    <img src="/images/hazırlıq-daxili-four.svg" alt="" class="w-full md:w-auto max-h-[345px] md:min-h-[530px] object-cover" />
                </div>
            <div class="flex flex-col justify-center">
                    <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">Orta Səvİyyə</h1>
                    <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                    <div class="pl-0 md:pl-10 ">
                    <p class="py-0 pb-6 md:py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Bu 320 saatlıq dərs dil səviyyəsi orta olan tələbələrə yönəlib. Dərsin məqsədi tələbələrə dörd əsas bacarığı mənalı şəkildə istifadə etməyi öyrətməkdir. Bununla yanaşı tələbələr öz səviyyələrinə uyğun söz ehtiyatı və qrammatika məşqləri də edirlər.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Orta-Yuxarı Səvİyyə -->
    <section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
        <div class="flex flex-col gap-6 md:gap-10 pt-6 md:py-10 px-[15px] md:px-0">
            <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
            <div class="order-2 md:order-1 flex flex-col justify-center relative">
                    <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pt-0 md:pt-6 pb-0 md:pb-3 w-3/5 md:w-full">Orta-Yuxarı Səvİyyə</h1>
                    <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                    <div class="pl-0 xl:pl-[78px] pb-0 md:pb-10">
                    <p class="py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Dərsinin davamı olan 320 saatlıq bu dərs orta-yuxarı səviyyəli tələbələr üçün nəzərdə tutulub, onların dil səviyyəsi universitet tərəfindən tələb olunan səviyyədən bir az aşağıdır. Dərsin məqsədi akademik təhsil üçün zəruri olan dil bacarıqlarını təkmilləşdirməkdir.</p>
                    </div>
                </div>
                <div class="order-1 md:order-2">
                    <img src="/images/hazırlıq-daxili-five.svg" alt="" class="w-full md:w-auto max-h-[345px] md:min-h-[530px] object-cover md:object-top " />
                </div>
            </div>
        </div>
    </section>
</main>