<header class="bg-primary text-[#606060] px-[60px] font-inter">
  <div class="container mx-auto h-28 flex justify-between items-center">
    <div class="bg-secondary px-3 pb-3 pt-10 mb-auto">
      <img src="/images/logo.svg" alt="TAU Logo" class="h-10" />
    </div>
    <nav class="">
      <ul class="flex gap-8 ">
        <li><a href="#">Universitet haqqında</a></li>
        <li><a href="#">Tədris</a></li>
        <li><a href="#">Qəbul</a></li>
        <li><a href="#">Tədqiqat</a></li>
        <li><a href="#">Əlaqə</a></li>
      </ul>
    </nav>
    <div class="flex items-center gap-6">
      <div class="flex justify-center items-center gap-1.5">
        <img src="/images/globus.svg" alt="" class="text-xl" />
        <span class="text-[#5B5B5B] text-sm">TR</span>
      </div>
      
      <button type="button" class="">
        <img src="/images/search.svg" alt="" class="text-xl" />
      </button>
      <button type="button" class="px-4 py-3 rounded-[50px] border border-[#A2A2A2] text-[#585858] text-sm flex justify-center items-center gap-1.5">
        <img src="/images/profile.svg" alt="" class="text-xl" /> Kabinetə keçid
      </button>
    </div>
  </div>
</header>
