<section class="pb-[60px]">
    <div class="bg-circle  h-[607px] bg-cover px-[60px]">
        <div class="container mx-auto relative">
            <div class="flex items-center relative">
                <div class="pl-[35px] relative ">
                    <img src="/images/hero.svg" alt="hero" class="object-cover object-center"/>
                    <div>
                        <span class="absolute right-0 top-20">
                            <img src="/images/dash.svg" alt="dash" class=""/>
                        <span>
                        <span class="">
                            <img src="/images/orta-dogu-teknik.svg" alt="orta-dogu-teknik" class="object-cover object-center"/>
                        <span>
                        <span>
                            <img src="/images/hacettepe.svg" alt="hacettepe" class=""/>
                        <span>
                        <span class="absolute top-28 -right-1 w-12 h-8">
                            <img src="/images/hero-logo.svg" alt="hero-logo" class="object-cover object-center"/>
                        <span>
                    </div>
                </div>
                <div class="absolute right-0 flex flex-col gap-2">
                    <span class='flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer '>
                        <img src="/images/instagram.svg" alt="instagram" class=""/>
                    </span>
                    <span class='flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer'>
                        <img src="/images/youtube.svg" alt="youtube" class=""/>
                    </span>  
                    <span class='flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer'>
                        <img src="/images/facebook.svg" alt="facebook" class=""/>
                    </span>
                    <span class='flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer'>
                        <img src="/images/twitter.svg" alt="twitter.svg" class=""/>
                    </span>
                </div>
            </div>
            <div class="absolute bottom-0">
                <div>
                    <h1 class="text-5xl text-center text-[#383838] font-archivo pb-6">Türkİyə Azərbaycan Unİversİtetİ</h1>
                    <p class="text-xl text-[#6A6A6A] font-inter">Gələcəyin mütəxəsisləri burada təhsil alır!</p>
                </div>
                
            </div>
            <div class="absolute right-[60px] bottom-0 flex gap-2">
                <span class="flex justify-center items-center w-12 h-12 bg-white rounded-full shadow-sm cursor-pointer">
                    <img src="/images/prev.svg" alt="prev" class=""/>
                </span>
                <span class="flex justify-center items-center w-12 h-12 bg-white rounded-full shadow-sm cursor-pointer">               
                    <img src="/images/next.svg" alt="next" class=""/>
                </span>
            </div> 
        </div>
    </div>
    
    
</section>