 <section class="pb-10 md:pb-[60px]">
        <div class="bg-circle h-auto lg:h-[607px] bg-cover px-0 lg:px-[60px]">
            <div class="container mx-auto relative h-[250px] sm:h-auto">
                <!-- Swiper -->
                <div class="swiper heroSwiper">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <div class="flex justify-center lg:justify-start items-center relative">
                                <div class="pl-0 lg:pl-[35px] relative">
                                    <img src="/images/hero.svg" alt="hero" class="object-cover object-center"/>
                                    <div class="lg:w-full">
                                        <span class="absolute top-7 right-0 sm:top-14 sm:right-3 max-w-xs sm:max-w-md sm:w-auto md:max-w-xl md:right-2 md:top-14 lg:max-w-2xl lg:top-[84px] lg:right-5 xl:max-w-3xl xl:top-20">
                                            <img src="/images/dash.svg" alt="dash" />
                                        </span>
                                        <span class="flex absolute top-20 left-[26%] sm:top-[36%] sm:left-[30%] md:top-[36%] md:left-[24%] lg:top-[37%] lg:left-[34%] xl:top-52 xl:left-[32%]">
                                            <img src="/images/orta-dogu-teknik.svg" alt="orta-dogu-teknik" class="object-cover object-left"/>
                                        </span>
                                        <span class="flex absolute top-24 left-[34%] sm:top-[42%] sm:left-[40%] md:top-[42%] md:left-[36%] lg:top-[42%] lg:left-[47%] xl:top-60 xl:left-[45%]">
                                            <img src="/images/hacettepe.svg" alt="hacettepe" class="object-cover object-left"/>
                                        </span>
                                        <span class="absolute top-20 sm:top-28 md:top-36 lg:top-44 xl:top-48 right-0 lg:-right-1 w-6 sm:w-12 h-8">
                                            <img src="/images/hero-logo.svg" alt="hero-logo" class="object-cover object-center"/>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="absolute bottom-0 px-4 xl:px-0">
                                <h1 class="text-xl md:text-3xl lg:text-5xl text-[#383838] font-archivo pb-2 md:pb-4 lg:pb-6">Türkİyə Azərbaycan Unİversİtetİ</h1>
                                <p class="text-base md:text-lg lg:text-xl text-[#6A6A6A] font-inter">Gələcəyin mütəxəsisləri burada təhsil alır!</p>
                            </div>
                        </div>
                        
                        <!-- Slide 2 -->
                    </div>
                </div>

                
                
                <!-- Social icons -->
                <div class="absolute top-36 right-0 hidden xl:flex flex-col gap-2 z-10">
                    <span class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/instagram.svg" alt="instagram" />
                    </span>
                    <span class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/youtube.svg" alt="youtube" />
                    </span>
                    <span class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/facebook.svg" alt="facebook" />
                    </span>
                    <span class="flex justify-center items-center w-11 h-11 bg-white rounded-full border border-[#53535326] cursor-pointer">
                        <img src="/images/twitter.svg" alt="twitter" />
                    </span>
                </div>
                
                <!-- Navigation buttons -->
                <div class="absolute right-[60px] bottom-0 hidden xl:flex gap-2 z-10">
                    <span class="flex justify-center items-center w-12 h-12 bg-white rounded-full shadow-sm cursor-pointer prev-slide">
                        <img src="/images/prev.svg" alt="prev" />
                    </span>
                    <span class="flex justify-center items-center w-12 h-12 bg-white rounded-full shadow-sm cursor-pointer next-slide">
                        <img src="/images/next.svg" alt="next" />
                    </span>
                </div>
            </div>
        </div>
    </section>