<section class="container mx-auto px-[15px] md:px-0 pb-5">
    <div class="pt-6 md:pt-10 pb-6 md:pb-12">
        <h2 class="font-medium text-base md:text-xl text-[32px] font-archivo text-textColor uppercase pb-3">Unİversİtetİnİn Hİmayəçİlər Şurası</h2>
        <p class="text-base md:text-lg text-[#989898] font-inter w-full md:w-2/3">AU Universitetinin Himayəçilər Şurası ali nəzarət və məsləhət orqanı olaraq, universitetin strateji inkişafına, idarəetmədə şəffaflıq və dayanıqlılığa töhfə verir.</p>
    </div>
    <div class="">
        <img class="w-full h-[345px] md:max-h-[600px] md:h-full object-cover" src="/images/himayechiler-shurasi-one.svg" alt=""/>
    </div>
</section>