<section class="container mx-auto">
    <div class="flex flex-col gap-10 pt-10">
        <div>
            <h1 class="font-medium text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-archivo text-textColor uppercase pb-3">Bİrgə qurulan gələcək: TAU-nun tarİxçəsİ</h1>
            <p class="text-base md:text-xl text-[#989898] font-inter w-2/3">Türkiyə və Azərbaycan arasında təhsil əməkdaşlığının simvolu olan TAU-nun yaranma hekayəsi və məqsədi ilə tanış olun.</p>
        </div>
        <div>
            <h3 class="font-medium text-xl font-archivo text-textColor uppercase pb-3">2017-ci İl, 31 oktyabr</h3>
            <p class="text-base md:text-lg text-[#989898] font-inter w-2/3">Bakıda “Azərbaycan Respublikasının Təhsil Nazirliyi ilə Türkiyə Respublikasının Ali Təhsil Şurası arasında ali təhsil sahəsində əməkdaşlıq haqqında Anlaşma Memorandumu” imzalandı. Bu sənədlə iki ölkə arasında təhsil sahəsində strateji əməkdaşlığın təməli qoyuldu.</p>
        </div>
        <div class="">
            <div class="w-full h-[600px] relative">
                <div class="swiper mySwiper  shadow-lg overflow-hidden">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/about-slider-one.svg" alt="" class="w-full h-[600px] object-cover" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/about-slider-two.svg" alt="" class="w-full h-[600px] object-cover" />
                    </div>
                    </div>
                </div>

                <div class="progress-container" id="progressContainer">

                </div>
            </div>

        </div>
        <div>
            <h3 class="font-medium text-xl font-archivo text-textColor uppercase pb-3">2024-cü il, 19 fevral</h3>
            <p class="text-base md:text-lg text-[#989898] font-inter w-2/3">Ankarada, Prezident Rəcəb Tayyib Ərdoğan və Prezident İlham Əliyevin iştirakı ilə Azərbaycan Respublikasının Elm və Təhsil Nazirliyi ilə Türkiyə Respublikası Ali Təhsil Şurası arasında TAU-nun yaradılmasına dair yeni Anlaşma Memorandumu imzalandı.</p>
        </div>
        <div>
            <div>
                <img src="/images/about-slider-two.svg" alt="" class="w-full h-[600px] object-cover" />
            </div>
        </div>
    </div>
</section>