<section class="py-[60px] text-[#333333] font-archivo">
    <div class="container mx-auto">
        <div class="grid grid-cols-4 gap-3">
           <div class="col-span-2">
                <h1 class="text-2xl">Xəbərlər</h1>
            </div>
            <div class="col-span-2">
                <h1 class="text-2xl">Elanlar</h1>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mt-6">
            <div class="col-span-1 border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10">Bakıda Türkiyə–Azərbaycan Universiteti açıldı</h1>
                <img src="/images/news-one.svg" alt="news" class="object-cover object-center"/>
                <span class="">16 Aprel 2024</span>
            </div>
            <div class="col-span-1 border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10">Türkiyə–Azərbaycan Universitetinin 4-cü heyət iclası keçirildi</h1>
                <img src="/images/news-two.svg" alt="news" class="object-cover object-center"/>
                <span class="">16 Aprel 2024</span>
            </div>
            <div class="col-span-1 border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10">TAU nümayəndə heyəti Türkiyədə səfərdədir</h1>
                <img src="/images/news-three.svg" alt="news" class="object-cover object-center"/>
                <span class="">16 Aprel 2024</span>
            </div>
            <div class="col-span-1 border-t pt-9 border-[#676767] flex flex-col gap-3">
                <h1 class="font-medium h-10">Türkiyə–Azərbaycan Universİtetİnə İxtisas seçimi aparılacaq</h1>
                <img src="/images/news-four.svg" alt="news" class="object-cover object-center"/>
                <span class="">16 Aprel 2024</span>
            </div>
        </div>
    </div> 
</section>