<section class="py-10 md:py-[72px] px-[14px] overflow-hidden" >
  <div class="container mx-auto">
    <div>
      <h2 class="font-medium text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-archivo text-textColor uppercase">Partnyorlar</h2>
    </div>

    <div class="pt-10">
      <div
        class="flex justify-between items-center gap-4 overflow-x-auto scrollbar-hide"
      >
        <div class="flex-shrink-0 flex justify-center items-center w-60 h-24">
          <img src="/images/partner-one.png" alt="partner" class="max-w-60  max-h-24 object-contain" />
        </div>
        <div class="flex-shrink-0 flex justify-center items-center w-60 h-24">
          <img src="/images/partner-two.png" alt="partner" class="max-w-60  max-h-24 object-contain" />
        </div>
        <div class="flex-shrink-0 flex justify-center items-center w-60 h-24">
          <img src="/images/partner-three.png" alt="partner" class="max-w-60  max-h-24 object-contain" />
        </div>
        <div class="flex-shrink-0 flex justify-center items-center w-60 h-24">
          <img src="/images/partner-four.png" alt="partner" class="max-w-60  max-h-24 object-contain" />
        </div>
      </div>
    </div>
  </div>
</section>
