<section class="py-[60px]">
  <div class="container mx-auto">
    <div>
      <h2 class="font-medium text-[32px] font-archivo text-[#333] uppercase">Partnyorlar</h2>
    </div>
    <div>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
        <div class="flex justify-center items-center w-full h-24">
          <img src="/images/partner-one.png" alt="partner" class="max-w-60 max-h-24 object-contain" />
        </div>
        <div class="flex justify-center items-center w-full h-20">
          <img src="/images/partner-two.png" alt="partner" class="max-w-60 max-h-24 object-contain" />
        </div>
        <div class="flex justify-center items-center w-full h-20">
          <img src="/images/partner-three.png" alt="partner" class="max-w-60 max-h-24 object-contain" />
        </div>
        <div class="flex justify-center items-center w-full h-20">
          <img src="/images/partner-four.png" alt="partner" class="max-w-60 max-h-24 object-contain" />
        </div>
      </div>
    </div>
  </div>
</section>
