<section class="container mx-auto px-[15px] md:px-0 pb-5">
    <div class="pt-6 md:pt-10 pb-6">
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase pb-3">Unİversİtetİnİn Hİmayəçİlər Şurası</h2>
    </div>
    <div class="grid grid-cols-[564px_1fr_111px] bg-[#fff] px-10 max-h-[853px] h-full overflow-hidden">
        <div class="md:w-[423px] pt-[126px]">
            <div class="flex flex-col gap-6 w-min">
                <p class="text-base md:text-lg text-[#989898] font-inter w-full">Həm Azərbaycan həm Türkiyə tərəfi daxil olmaqla birlikdə cəmi</p>
                <div class="font-archivo font-semibold text-[280px] leading-[305px] text-[#DCDCDC] border-y border-[#000]">
                    <span>14</span> 
                </div>
            </div>
            <p class="pt-6 text-end text-[96px] leading-[104px] text-secondary font-bold font-archivo">ÜZV</p>
        </div>
        
        <div class="">
            <div class="grid gap-8 h-[853px] overflow-y-auto snap-y snap-mandatory">
                <!-- Slide 1 -->
                <div class="slide relative max-w-[200px] w-full h-[200px]">
                    <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                </div>
                <div class="slide-content flex items-center h-[262px] gap-6 bg-[#F7F7F7] hidden">
                    <!-- Slide 1 content -->
                    <div class="relative max-w-[262px] w-full h-[262px]">
                    <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                    <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div>
                    <div class="w-full border-b border-[#D8D8D8] pt-6">
                        <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. Erol Özvar</h2>
                        <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Türkiyə Respublikası Ali Təhsil Şurasının (YÖK) sədri</p>
                    </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="slide relative max-w-[200px] w-full h-[200px]">
                    <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                </div>
                <div class="slide-content flex items-center h-[262px] gap-6 bg-[#F7F7F7] hidden">
                    <!-- Slide 2 content -->
                    <div class="relative max-w-[262px] w-full h-[262px]">
                    <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                    <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div>
                    <div class="w-full border-b border-[#D8D8D8] pt-6">
                        <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. Erol Özvar</h2>
                        <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Türkiyə Respublikası Ali Təhsil Şurasının (YÖK) sədri</p>
                    </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="slide relative max-w-[200px] w-full h-[200px]">
                    <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                </div>
                <div class="slide-content flex items-center h-[262px] gap-6 bg-[#F7F7F7] hidden">
                    <!-- Slide 3 content -->
                    <div class="relative max-w-[262px] w-full h-[262px]">
                    <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                    <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div>
                    <div class="w-full border-b border-[#D8D8D8] pt-6">
                        <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. Erol Özvar</h2>
                        <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Türkiyə Respublikası Ali Təhsil Şurasının (YÖK) sədri</p>
                    </div>
                    </div>
                </div>
        </div>
        </div>
       <div class="h-[853px] flex flex-col justify-center items-end gap-20">
            <button>
                <img class="-rotate-90" src="/images/arrow-right.svg" />
            </button>
            <div class="flex flex-col gap-3 text-[#7B7B7B] font-semibold font-archivo">
                <span>01</span>
                <span>02</span>
                <span class="text-secondary">03</span>
                <span>04</span>
                <span>05</span>
            </div>
            <button>
                <img class="rotate-90" src="/images/arrow-right.svg" />
            </button>
        </div>

    </div>
</section> 