<section class="container mx-auto px-0 pb-5">
    <div class="pt-6 md:pt-10 pb-6 px-[15px] md:px-0">
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase pb-3">Unİversİtetİnİn Hİmayəçİlər Şurası</h2>
    </div>
    <div class="grid gap-10 grid-cols-1 lg:grid-cols-[auto_1fr] xl:grid-cols-[564px_1fr] xl:gap-0 bg-[#fff] w-full px-[15px] xl:px-10 h-auto lg:max-h-[853px] md:h-full overflow-hidden">
        <div class="w-auto md:w-[423px] lg:w-auto xl:w-[423px] pt-10 lg:pt-[126px]">
            <div class="flex flex-col gap-6 w-min">
                <p class="text-base md:text-lg text-[#989898] font-inter w-full">Həm Azərbaycan həm Türkiyə tərəfi daxil olmaqla birlikdə cəmi</p>
                <div class="font-archivo font-semibold text-[228px] md:text-[280px] leading-[305px] text-[#DCDCDC] border-y border-[#000]">
                    <span id="slide-number">14</span>
                </div>
            </div>
            <p class="pt-6 text-end text-[96px] leading-[104px] text-secondary font-bold font-archivo">ÜZV</p>
        </div>

        <div class="grid grid-cols-[1fr_40px]  md:grid-cols-[1fr_111px]">
            <div class="main-container h-[721px] md:h-[853px]">
                <div id="shura-slider" class="carousel-container h-[700px] md:h-[853px] py-80 md:py-[375px]">
                    <!-- Slide 1 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/shura-slider-two.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/academic-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 4 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/academic-two.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 5 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/academic-three.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 6 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/academic-four.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 7 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/academic-five.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 8 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/academic-six.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 9 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 10 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>

                    <!-- Slide 11 -->
                    <div class="slide-wrapper flex items-center justify-center md:justify-start">
                        <div class="slide relative max-w-[200px] w-full h-[200px]">
                            <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 h-[200px] w-[200px] object-cover z-10" />
                        </div>
                    </div>
                </div>

                <!-- Slide Content 1 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px]  border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-0 md:pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Erol Özvar</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Türkiyə Respublikası Ali Təhsil Şurasının (YÖK) sədri</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>

                <!-- Slide Content 2 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/shura-slider-two.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-0 md:pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Vİlayət vəlİyev</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Azərbaycan Texniki Universitetinin (AzTU) rektoru</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>

                <!-- Slide Content 3 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/academic-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Michael Brown</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Türkiyə Respublikası Ali Təhsil Şurasının (YÖK) sədri</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>

                <!-- Slide Content 4 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/academic-two.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Lisa Davis</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Senior Research Coordinator</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>

                <!-- Slide Content 5 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/academic-three.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Robert Wilson</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Lead Data Scientist</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>

                <!-- Slide Content 6 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/academic-four.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Robert Wilson</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Lead Data Scientist</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>
                <!-- Slide Content 7 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/academic-five.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Robert Wilson</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Lead Data Scientist</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>
                <!-- Slide Content 8 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/academic-six.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Robert Wilson</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Lead Data Scientist</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>
                <!-- Slide Content 9 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Robert Wilson</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Lead Data Scientist</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>
                <!-- Slide Content 10 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Robert Wilson</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Lead Data Scientist</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>
                <!-- Slide Content 11 -->
                <div class="slide-content flex flex-col md:flex-row items-start md:items-center h-auto md:h-[262px] border-t pt-5 md:pt-0 border-[#D8D8D8] md:border-transparent bg-[#fff] md:bg-[#F7F7F7]">
                    <div class="relative max-w-[262px] w-full h-[262px] ml-[14px] md:ml-0">
                        <div class="absolute bottom-0 right-0 max-w-[250px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                        <img src="/images/shura-slider-one.svg" alt="" class="absolute top-0 left-0 pr-3 h-[250px] w-[262px] object-cover z-10" />
                    </div>
                    <div class="w-full pl-6">
                        <div class="border-b border-[#D8D8D8] pt-6">
                            <h2 class="font-medium text-base md:text-2xl font-archivo text-gray-800 uppercase pb-3">Prof. Dr. Robert Wilson</h2>
                            <p class="pb-5 text-base text-[#989898] font-inter w-full md:w-2/3">Lead Data Scientist</p>
                        </div>
                        <div class="hidden pt-3 md:flex items-center gap-2">
                            <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                            <a href="#" class="text-[#727272] text-base font-inter underline pointer-events-auto">vilayet.valiyev@tau.edu.az</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-[853px] flex flex-col justify-center items-center md:items-end gap-14">
                <button type="button" id="prev-btn">
                    <img class="-rotate-90" src="/images/arrow-right.svg" />
                </button>
                <div class="indicators-container">
                        <div id="indicators-wrapper" class="indicators-wrapper">
                            <span class="indicator-span">01</span>
                            <span class="indicator-span">02</span>
                            <span class="indicator-span">03</span>
                            <span class="indicator-span">04</span>
                            <span class="indicator-span">05</span>
                            <span class="indicator-span">06</span>
                            <span class="indicator-span">07</span>
                            <span class="indicator-span">08</span>
                            <span class="indicator-span">09</span>
                            <span class="indicator-span">10</span>
                            <span class="indicator-span">11</span>
                    </div>
                </div>
                <button type="button" id="next-btn">
                    <img class="rotate-90" src="/images/arrow-right.svg" />
                </button>
            </div>
        </div>
        


    </div>
</section> 