<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-20 px-[15px] md:px-0">
         <div>
            <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">TAU-DA KOMPÜTER MÜHƏNDİSLİYİ</h1>
            <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
            <div class="flex justify-between items-center">
                <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-lg text-[#989898] font-inter w-full md:w-1/2">ODTÜ-nün TAU-da həyata keçirdiyi Kompüter mühəndisliyi proqramı informatika sahəsində yüksək ixtisaslı mühəndislər yetişdirmək məqsədi daşıyır, eyni zamanda bu fənnin qlobal inkişafına töhfə verməyi hədəfləyir.</p>
                <img class="hidden md:block" src="/images/specialties-arrow.svg"/>
            </div>
        </div>
        <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
            <div>
                <img src="/images/specialties-one.svg" alt="" class="w-full max-h-[345px] md:min-h-[530px] object-cover" />
            </div>
           <div class="flex flex-col justify-center">
                <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                <div class="pl-0 md:pl-10 ">
                   <p class="py-0 pb-6 md:py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Proqramda həm nəzəriyyə, həm də praktiki tətbiqlər öyrədilir. Bu kontekstdə professor-müəllim heyəti və tələbələr elmi, texnoloji və sosial biliklərin tətbiqində, innovativ ideyaların inkişaf etdirilməsində və mümkün nəticələrin araşdırılmasında fəal rol oynayırlar.</p>
                   <a href="https://www.metu.edu.tr/tr">
                    <button class="bg-[#E81F26] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-[14px] md:py-4 rounded-xl w-full md:w-auto">
                        ODTÜ 
                        <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                    </button>
                   </a>
                   
                </div>
            </div>
        </div>
    </div>
</section>