<section>
    <div class="container mx-auto">
        <div class="text-[#333]">
            <h1 class="font-medium text-[32px] font-archivo pb-3 uppercase">Sənİn üçün uyğun İxtİsası kəşf et</h1>
            <p class="text-lg font-inter">Hər bir ixtisasın imkanlarını öyrən və gələcək karyerana doğru ilk addımı at.</p>
        </div>
        <div class="font-medium text-2xl flex">
            <button type="button" class="py-1.5 px-[9px] text-white bg-[#F0383E] border border-black">
                PROQRAMLAR
            </button>    
            <button type="button" class="py-1.5 px-[9px] text-[#A6A3A3] bg-white border border-black">
                TƏMƏL İNGİLİSCƏ
            </button>   
        </div>
    </div>
</section>