<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-20 px-[15px] md:px-0">
        <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
           <div class="order-2 md:order-1 flex flex-col relative">
                <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pt-0 md:pt-6 pb-0 md:pb-3 w-3/5 md:w-full">TƏHSİL PROQRAMI</h1>
                <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                <div class="pl-0 xl:pl-[78px] pb-0 md:pb-10">
                   <p class="py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Kompüter mühəndisliyi proqramında təhsil alan tələbələr ilk iki ildə əsas mühəndislik kurslarını bitirirlər. Proqramın sonrakı mərhələlərində kompüter avadanlığı və arxitekturası, proqramlaşdırma dilləri, məlumat strukturları və alqoritmlər, əməliyyat sistemləri və kommunikasiya şəbəkələri kimi əsas mövzulara diqqət yetirirlər.</p>
                   <button class="bg-[#FF3838] gradient-border text-base md:text-lg lg:text-xl font-inter text-[#fff] px-4 lg:px-8 py-[14px] md:py-4 rounded-xl w-full md:w-auto">
                        <a class="underline underline-offset-2" href="https://halksagligiens.hacettepe.edu.tr/">TƏHSİL PROQRAMI İLƏ TANIŞ OL</a> 
                        <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px]  h-auto" />
                   </button>
                </div>
                <img class="hidden lg:block absolute bottom-0 w-[131px] h-[131px] rotate-180" src="/images/specialties-arrow.svg"/>
            </div>
            <div class="order-1 md:order-2">
                <img src="/images/specialties-program.svg" alt="" class="w-full max-h-[345px] md:min-h-[530px] object-cover" />
            </div>
        </div>
    </div>
</section>