<section>
    <div class="py-[60px] flex justify-between items-start">
        <div class="container mx-auto ">
           <div class="flex justify-between items-start pb-10">
                <div class="text-[#333]">
                    <h1 class="font-medium text-[32px] font-archivo pb-3 uppercase">Sənİn üçün uyğun İxtİsası kəşf et</h1>
                    <p class="text-lg font-inter">Hər bir ixtisasın imkanlarını öyrən və gələcək karyerana doğru ilk addımı at.</p>
                </div>
                <div class="inline-flex border border-black overflow-hidden ">
                    <button
                        class="btn-left py-1.5 pl-[9px] pr-5 font-medium text-lg uppercase"
                    >
                        PROQRAMLAR
                    </button>
                    <button
                        class="btn-right py-1.5 pl-0 pr-[9px] font-medium text-lg uppercase"
                    >
                        TƏMƏL İNGİLİSCƏ
                    </button>
                </div>
           </div>            
            

            <div class="flex flex-col gap-10">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4  items-center border-b border-gray-200 pb-10 text-[#333]">
                    <div class="col-span-2">
                        <h2 class="flex flex-col gap-4 text-[32px] leading-10 font-medium font-archivo">KOMPÜTER <span>MÜHƏNDİSLİYİ</span></h2>
                    </div>
                    <div class="col-span-1">
                        <p class="font-inter">
                            Texnologiyanı yalnız istifadə etmə, onu yarat. Kompüter mühəndisliyi ilə kodun gücünü kəşf et.
                        </p>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4  items-center border-b border-gray-200 pb-10 text-[#333]">
                    <div class="col-span-2">
                        <h2 class="flex flex-col gap-4 text-[32px] leading-10 font-medium font-archivo">SƏNAYE <span>MÜHƏNDİSLİYİ</span></h2>
                    </div>
                    <div class="col-span-1">
                        <p class="font-inter">
                            İstehsalatı, prosesləri və sistemləri optimallaşdır. Sənaye mühəndisliyi ilə real problemləri həll et.
                        </p>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4  items-center border-b border-gray-200 pb-10 text-[#333]">
                    <div class="col-span-2">
                        <h2 class="flex flex-col gap-4 text-[32px] leading-10 font-medium font-archivo">QİDA <span>MÜHƏNDİSLİYİ</span></h2>
                    </div>
                    <div class="col-span-1">
                        <p class="font-inter">
                            Gələcəyin sağlam və dayanıqlı qidalarının arxasındakı elmə qoşul. Qida mühəndisliyi ilə fərq yarat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>