<section data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
  <div class="py-10 md:py-[60px] flex flex-col xl:flex-row justify-between items-start px-4">
    <div class="container mx-auto">
      <div class="flex flex-col lg:flex-row justify-between items-start gap-6 pb-10">
        <div class="text-textColor">
          <h1 class="font-medium text-xl md:text-[32px] font-archivo pb-3 uppercase">
            Sənİn üçün uyğun İxtİsası kəşf et
          </h1>
          <p class="text-base md:text-lg font-inter">
            Hər bir ixtisasın imkanlarını öyrən və gələcək karyerana doğru ilk addımı at.
          </p>
        </div>
        <div class="flex items-center overflow-hidden">
          <button id="btn-programs" class="btn-left py-1.5 px-2 sm:px-4 font-medium text-sm md:text-lg uppercase active-tab transition-all">
            PROQRAMLAR
          </button>
          <button id="btn-english" class="flex btn-right py-1.5 pr-2 sm:pr-4 font-medium text-sm md:text-lg uppercase truncate transition-all">
            TƏMƏL İNGİLİSCƏ
          </button>
        </div>
      </div>

      <div id="content-programs" class="flex flex-col gap-10">
        <!-- Card 1 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 items-center border-b border-gray-200 pb-10 text-textColor">
          <div class="md:col-span-2">
            <h2 class="flex flex-col gap-2 text-xl md:text-[32px] leading-8 md:leading-10 font-medium font-archivo">
              KOMPÜTER <span>MÜHƏNDİSLİYİ</span>
            </h2>
          </div>
          <div class="md:col-span-1">
            <p class="text-base font-inter">
              Texnologiyanı yalnız istifadə etmə, onu yarat. Kompüter mühəndisliyi ilə kodun gücünü kəşf et.
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 items-center border-b border-gray-200 pb-10 text-textColor">
          <div class="md:col-span-2">
            <h2 class="flex flex-col gap-2 text-xl md:text-[32px] leading-8 md:leading-10 font-medium font-archivo">
              SƏNAYE <span>MÜHƏNDİSLİYİ</span>
            </h2>
          </div>
          <div class="md:col-span-1">
            <p class="text-base font-inter">
              İstehsalatı, prosesləri və sistemləri optimallaşdır. Sənaye mühəndisliyi ilə real problemləri həll et.
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 items-center border-b border-gray-200 pb-10 text-textColor">
          <div class="md:col-span-2">
            <h2 class="flex flex-col gap-2 text-xl md:text-[32px] leading-8 md:leading-10 font-medium font-archivo">
              QİDA <span>MÜHƏNDİSLİYİ</span>
            </h2>
          </div>
          <div class="md:col-span-1">
            <p class="text-base font-inter">
              Gələcəyin sağlam və dayanıqlı qidalarının arxasındakı elmə qoşul. Qida mühəndisliyi ilə fərq yarat.
            </p>
          </div>
        </div>
      </div>
      <div id="content-english" class="flex flex-col gap-10">
        <!-- Card 1 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 items-center border-b border-gray-200 pb-10 text-textColor">
          <div class="md:col-span-2">
            <h2 class="flex flex-col gap-2 text-xl md:text-[32px] leading-8 md:leading-10 font-medium font-archivo">
              KOMPÜTER <span>MÜHƏNDİSLİYİ</span>
            </h2>
          </div>
          <div class="md:col-span-1">
            <p class="text-base font-inter">
              Texnologiyanı yalnız istifadə etmə, onu yarat. Kompüter mühəndisliyi ilə kodun gücünü kəşf et.
            </p>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 items-center border-b border-gray-200 pb-10 text-textColor">
          <div class="md:col-span-2">
            <h2 class="flex flex-col gap-2 text-xl md:text-[32px] leading-8 md:leading-10 font-medium font-archivo">
              SƏNAYE <span>MÜHƏNDİSLİYİ</span>
            </h2>
          </div>
          <div class="md:col-span-1">
            <p class="text-base font-inter">
              İstehsalatı, prosesləri və sistemləri optimallaşdır. Sənaye mühəndisliyi ilə real problemləri həll et.
            </p>
          </div>
        </div>
    </div>
  </div>
</section>
