<section class="container mx-auto">
    <div >
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase pb-3">STURUKTUR</h2>
        <p class="pt-5 pb-[14px] text-base md:text-lg text-[#989898] font-inter w-2/3">TAU-nun dövlət ali təhsil müəssisəsi olaraq rektorunun Azərbaycan, prorektorunun Türkiyə tərəfindən olmasına qərar verilib. Bu çərçivədə qurucu olaraq Prof. Dr. Vilayət Vəliyev rektor səlahiyyətlərini icra edən, Prof. Dr. Mehmet Şimşir prorektor təyin edilib.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 pt-10">
        <div class="">
            <img
                src="/images/structure-one.svg"
                alt=""
                class="w-full h-auto"
            />
             <div class="w-1/2 border-b border-[#D8D8D8]">
                <h2 class="font-medium text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. VİLAYƏT VƏLİYEV</h2>
                <p class="pt-5 pb-[14px] text-base text-[#989898] font-inter">Türkiyə-Azərbaycan Universitetinin rektoru vəzifəsini müvəqqəti icra edən</p>
            </div>
        </div>
        <div class="">
            <img
                src="/images/structure-two.svg"
                alt=""
                class="w-full h-auto"
            />
            <div>
                <div class="w-1/2 border-b border-[#D8D8D8]">
                    <h2 class="font-medium text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. VİLAYƏT VƏLİYEV</h2>
                    <p class="pt-5 pb-[14px] text-base text-[#989898] font-inter">Türkiyə-Azərbaycan Universitetinin rektoru vəzifəsini müvəqqəti icra edən</p>
                </div>
            </div>
        </div>
    </div>
</section>