<section class="container mx-auto py-5 px-[15px] md:px-0">
    <div>
        <h2 class="font-medium text-xl text-[32px] font-archivo text-textColor uppercase pb-3">STURUKTUR</h2>
        <p class="pt-5 pb-[14px] text-base md:text-lg text-[#989898] font-inter w-full md:w-2/3">TAU-nun dövlət ali təhsil müəssisəsi olaraq rektorunun Azərbaycan, prorektorunun Türkiyə tərəfindən olmasına qərar verilib. Bu çərçivədə qurucu olaraq Prof. Dr. Vilayət Vəliyev rektor səlahiyyətlərini icra edən, Prof. Dr. Mehmet Şimşir prorektor təyin edilib.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-[93px] pt-6 md:pt-10">
        <div class="">
            <div class="relative inline-block h-[356px] max-w-[593px] w-full md:h-[543px]">

                <div class="absolute bottom-0 right-0 md:max-w-[593px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                <img
                    src="/images/structure-one.svg"
                    alt=""
                    class="absolute top-0 left-0 pr-[11px] md:pr-5 h-[345px] md:max-w-[593px] w-full md:h-[523px] object-cover z-10"
                />
            </div>

             <div class="w-full md:w-1/2 border-b border-[#D8D8D8] pt-6">
                <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. VİLAYƏT VƏLİYEV</h2>
                <p class="pt-5 pb-[14px] text-base text-[#989898] font-inter">Türkiyə-Azərbaycan Universitetinin rektoru vəzifəsini müvəqqəti icra edən</p>
            </div>
            <div class="pt-3 flex items-center gap-2">
                <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                <a href="#" class="text-[#727272] text-base font-inter underline">vilayet.valiyev@tau.edu.az</a>
            </div>
        </div>
        <div class="">
            <div class="relative inline-block h-[356px] max-w-[593px] w-full md:h-[543px]">
                <div class="absolute bottom-0 right-0 md:max-w-[593px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                <img
                    src="/images/structure-two.svg"
                    alt=""
                    class="absolute top-0 left-0 pr-[11px] md:pr-5 h-[345px] md:max-w-[593px] w-full md:h-[523px] object-cover z-10"
                />
            </div>
            
            <div>
                <div class="w-full md:w-1/2 border-b border-[#D8D8D8] pt-6">
                    <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. Mehmet Şİmşİr</h2>
                    <p class="pt-5 pb-[14px] text-base text-[#989898] font-inter">Türkiyə-Azərbaycan Universitetinin rektoru vəzifəsini müvəqqəti icra edən</p>
                </div>
            </div>
            <div class="pt-3 flex items-center gap-2">
                <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                <a href="#" class="text-[#727272] text-base font-inter underline">mehmet.simsir@tau.edu.az</a>
            </div>
        </div>
    </div>
</section>