<!-- Slider -->
<section class="container mx-auto">
    <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-10 px-[15px] md:px-0">
        <div>
            <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">Sənaye mühəndİSLİYİ NƏDİR?</h1>
            <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
            <div class="flex justify-between items-center">
                <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-xl text-[#989898] font-inter w-full md:w-1/2">Sənaye mühəndisliyi proqramı sənaye və xidmət sektorlarında sistemlərin tədqiqi, təşkili, icrası və nəzarəti üçün yeni modellərin, metodların işlənib hazırlanmasına diqqət yetirir.</p>
                <img class="hidden md:block pr-0 md:pr-10 lg:pr-[147px]" src="/images/specialties-arrow.svg"/>
            </div>
        </div>
        <div class="md:pt-10">
            <div class="w-full min-h-[345px] md:h-[600px] relative">
                <div class="swiper mySwiper  shadow-lg overflow-hidden">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/sənaye-one.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/sənaye-one.svg" alt="" class="w-full min-h-[345px] md:h-[600px] object-cover" />
                    </div>
                    </div>
                </div>
                <div class="progress-container" id="progressContainer"></div>
            </div>
        </div>
    </div>
</section>

<!-- Card -->
<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-20 px-[15px] md:px-0">
         <div>
            <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pb-3 w-full">TAU-DA Sənaye mühəndİslİyİ</h1>
            <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
            <div class="flex justify-between items-center">
                <p class="pl-0 md:pl-[78px] pt-0 md:pt-6 pb-0 md:pb-[14px] text-base md:text-lg text-[#989898] font-inter w-full md:w-1/2">İstanbul Texniki Universitetinin (İTÜ) proqramı əsasında hazırlanıb. Tələbələr sistem analizi, məlumat analitikası, süni intellekt, istehsal və layihə idarəetməsi kimi sahələr üzrə fənlərarası təhsil alırlar.</p>
                <img class="hidden md:block" src="/images/specialties-arrow.svg"/>
            </div>
        </div>
        <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
            <div>
                <img src="/images/sənaye-two.svg" alt="" class="w-full max-h-[345px] md:min-h-[530px] object-cover" />
            </div>
           <div class="flex flex-col justify-center">
                <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                <div class="pl-0 md:pl-10 ">
                   <p class="py-0 pb-6 md:py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Bununla da onlar süni intellekt, məlumat analitikası, robototexnika və avtomatlaşdırma kimi texnologiyaları rəqəmsal transformasiyanın tələb etdiyi iş proseslərinə inteqrasiya edə bilən mühəndislər kimi yetişirlər.</p>
                   <a href="https://itu.edu.tr/">
                        <button class="bg-[#FF3838] gradient-border text-base md:text-xl font-inter text-[#fff] px-8 py-[14px] md:py-4 rounded-xl w-full md:w-auto">
                            İTÜ 
                            <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px] h-auto" />
                    </button>
                   </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Proqram -->
<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="flex flex-col gap-6 md:gap-10 pt-6 md:pt-20 px-[15px] md:px-0">
        <div class="pt-0 md:pt-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
           <div class="order-2 md:order-1 flex flex-col relative">
                <h1 class="font-medium text-xl md:text-2xl lg:text-[32px] font-archivo text-textColor uppercase pt-0 md:pt-6 pb-0 md:pb-3 w-3/5 md:w-full">TƏHSİL PROQRAMI</h1>
                <div class="hidden md:block h-[2px] bg-secondary w-[100px]"></div>
                <div class="pl-0 xl:pl-[78px] pb-0 md:pb-10">
                   <p class="py-6 text-base md:text-lg text-[#989898] font-inter w-full ">Tələbələr istehsal və idarəetmə proseslərində səmərəliliyin artırılması üçün texniki elmlərin analitik yanaşmasını insan münasibətləri və sosial elmlərin idarəetmə perspektivi ilə birləşdirən fənlərarası təhsil alırlar.</p>
                   
                   <a href="https://obs.itu.edu.tr/public/DersPlan/DersPlanDetay/1551">
                        <button class="bg-[#FF3838] gradient-border text-base md:text-lg lg:text-xl font-inter text-[#fff] px-4 lg:px-8 py-[14px] md:py-4 rounded-xl w-full md:w-auto">
                                <span class="underline underline-offset-2">TƏHSİL PROQRAMI İLƏ TANIŞ OL</span> 
                                <img src="/images/arrow-right-white.svg" alt="" class="inline-block ml-[10px]  h-auto" />
                        </button>
                   </a>
                   
                </div>
                <img class="hidden lg:block absolute bottom-0 w-[131px] h-[131px] rotate-180" src="/images/specialties-arrow.svg"/>
            </div>
            <div class="order-1 md:order-2">
                <img src="/images/sənaye-three.svg" alt="" class="w-full max-h-[345px] md:min-h-[530px] object-cover" />
            </div>
        </div>
    </div>
</section>

<!-- Professor -->
<section class="container mx-auto" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
    <div class="inline-block w-full px-[15px] md:px-0 py-6 md:py-20">
        <div class="grid grid-cols-1 sm:grid-cols-[361px_1fr] lg:grid-cols-[361px_1fr_1fr] xl:grid-cols-[361px_1fr_1fr_1fr] gap-6">
            <div class="col-span-1 relative max-w-[345px] w-full h-[361px]">
                <div class="absolute bottom-0 right-0 max-w-[345px] bg-red-600 w-4/5 h-4/5 z-0"></div>
                <img
                    src="/images/sənaye-four.svg"
                    alt=""
                    class="absolute top-0 left-0 pr-4 h-[345px] w-[345px] object-cover z-10"
                /> 
            </div>
            <div class="col-span-1 self-end">
                <div class="w-full border-b border-[#D8D8D8] pt-0 md:pt-6">
                    <h2 class="font-medium text-base md:text-2xl font-archivo text-textColor uppercase pb-3">Prof. Dr. ÖMER FARUK BEYCA</h2>
                    <p class="pb-5 text-base text-[#989898] font-inter">Türkiyə-Azərbaycan Universitetinin (TAU) Sənaye Mühəndisliyi Proqramının Rəhbəri</p>
                </div>
                <div class="pt-3 flex items-center gap-2">
                    <img src="/images/mail.svg" alt="" class="w-5 h-4" />
                    <a href="#" class="text-[#727272] text-base font-inter underline">okan.topcu@tau.edu.az</a>
                </div>
            </div>
        </div>
    </div>
</section>