<section class="py-4 pb-5 md:py-[60px] text-textColor font-archivo px-[14px]" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000">
  <div class="container mx-auto  grid grid-cols-1 lg:grid-cols-2 gap-6">
    
    <!-- Xəbərlər -->
    <div>
      <div class="flex justify-between items-center gap-2 mb-4">
        <h1 class="text-xl md:text-3xl">Xəbərlər</h1>
        <!-- <a href="#" class="text-secondary text-sm md:text-lg font-medium font-archivo underline underline-offset-4">
          Bütün xəbərləri oxu 
          <img src="/images/arrow-right.svg" alt="arrow" class="inline-block ml-2"/>
        </a>-->
      </div>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
        <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
          <h1 class="font-medium h-10 text-sm md:text-base">Türkiyə-Azərbaycan Universitetinin hazırlıq proqramında təhsil alan tələbələrin dərsindən fotolar</h1>
          <img src="/images/xəbərlər-one.jpg" alt="xəbərlər" class="w-full h-full min-h-60 max-h-60 sm:min-h-[400px] object-cover object-center"/>
          <span class="text-sm md:text-base">16 Aprel 2024</span>
        </div>
        <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
          <h1 class="font-medium h-10 text-sm md:text-base">Türkiyə-Azərbaycan Universitetinin təşkilatçısı olduğu beynəlxalq tədbir keçirilib</h1>
          <img src="/images/xəbərlər-3.jpg" alt="xəbərlər" class="w-full h-full min-h-60 max-h-60 sm:min-h-[400px] object-cover object-center"/>
          <span class="text-sm md:text-base">16 Aprel 2024</span>
        </div>
      </div>
    </div>

    <!-- Elanlar -->
    <div class="mt-[60px] lg:mt-0">
      <div class="flex justify-between items-center gap-2 mb-4">
        <h1 class="text-xl md:text-3xl">Elanlar</h1>
        <!-- <a href="#" class="text-secondary text-sm md:text-lg font-medium font-archivo underline underline-offset-4">
          Bütün elanları oxu 
          <img src="/images/arrow-right.svg" alt="arrow" class="inline-block ml-2"/>
        </a> -->
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
        <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
          <h1 class="font-medium h-14 md:h-10 text-sm md:text-base">Türkiyə-Azərbaycan Universitetində Maliyyə və təsərrüfat şöbəsinin müdiri vəzifəsinə vakansiya elan edilir</h1>
          <img src="/images/elanlar-one.jpg" alt="news" class="w-full h-auto min-h-60 max-h-60 sm:min-h-[400px] object-cover object-center"/>
          <span class="text-sm md:text-base">16 Aprel 2024</span>
        </div>
        <div class="border-t pt-9 border-[#676767] flex flex-col gap-3">
          <h1 class="font-medium h-14 md:h-10 text-sm md:text-base">TAU-da Qida mühəndisliyi proqramı üzrə Fizika laboratoriyasına laborant vəzifəsinə vakansiya elan edilir</h1>
          <img src="/images/elanlar-two.jpg" alt="news" class="w-full h-auto min-h-60 max-h-60 sm:min-h-[400px] object-cover object-center"/>
          <span class="text-sm md:text-base">16 Aprel 2024</span>
        </div>
      </div>
    </div>
    
  </div>
</section>
