// Colors
$primary-color: #EC1F26;
$secondary-color: #F6F6F6;
$text-color: #606060;
$white: #fff;

// Fonts
$font-main: 'Inter', sans-serif;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
