@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Custom color variables */
    --primary-color: #F6F6F6;
    --secondary-color: #EC1F26;
    --text-color: #333;
    --white-color: #fff;
}

.btn-left {
  background-color: #F6F6F6;
  color: #A6A3A3;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
  padding-right: 45px;
}

.btn-right {
  background-color: #F6F6F6;
  color: #A6A3A3;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  margin-left: -15px;
  padding-left: 25px;
}

.active-tab {
  background-color: #F0383E;
  color: white;
  opacity: 1;
}

.btn-left:not(.active-tab),
.btn-right:not(.active-tab) {
  opacity: 1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-grid-cols {
  grid-template-columns: 1fr repeat(5, max-content);
}